*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-family: cursive, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --main-color: rgb(184, 218, 243);
    --sub-color: rgb(238, 231, 217);
    --3rd-color: rgb(246, 245, 245);
}

body {
    display: flex;
    justify-content: center;
}

.content-container {
    /* max-width: 70vw; */
    background-color: var(--3rd-color);
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.title-container {
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
    width: min(90vw, 1000px);
    margin: 0rem auto;
    padding: 1rem;
    border-radius: 1rem;
}

.title-container h1 {
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
}

form {
    width: min(90vw, 1000px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 30px;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--sub-color);
}

form div {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}

form div.read {
    flex: 0;
}

form div input {
    flex: 1 1 auto;
    padding: 0.3rem 0.5rem;
    border: 1.5px solid black;
    border-radius: 1rem;
    font-size: 1.3rem;
}

button[type="submit"] {
    background-color: var(--main-color);
    border: 1.5px solid black;
    border-radius: 1rem;
    padding: 0.2em 0.7em;
    font-size: inherit;
}

button[type="submit"]:hover {
    background-color: rgb(216, 232, 244);
}

input[type='checkbox'] {
    transform: scale(1.5);
}

.library-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 0.5fr;
    gap: 10px;
    width: min(90vw, 1000px);
}

.row-details {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
}

.row-details h3 {
    font-size: 1.2rem;
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;
    font-weight: 700;
}

.book-container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    gap: 10px;
}

.book {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    font-size: 1.1rem;
    line-height: 2rem;
}

.book p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.remove-button {
    background-color: rgb(205, 58, 58);
    color: white;
    border-radius: 2rem;
    height: 30px;
    align-self: center;
    font-weight: 700;
    padding: 0.5em 1em;
}

.remove-button:hover {
    background-color: rgb(145, 39, 39);
}